# Keil MDK
*.uvguix.*
*.uvoptx
*.uvprojx.bak
*.scvd
*.map
*.lnp
*.dep
*.htm
*.build_log.htm
JLinkLog.txt
JLinkSettings.ini
RTE/

# Build outputs
keil/Objects/
keil/Listings/
*.o
*.d
*.axf
*.hex
*.bin
*.elf
*.crf
*.o.cmd
*.o.d

# Misc
.DS_Store
Thumbs.db
*.tmp
*.bak
